<div class="body">
  <div class="container">
  <article>
      <img class="listing-photo" [src]="filmsModel.imageUrl"
        alt="Exterior photo of {{filmsModel.name}}"/>
      <section class="listing-description">
        <h1 class="listing-heading"><b>{{filmsModel.name}}</b></h1>
      </section><br><br>
      <section class="listing-features">
        <h2 class="section-heading"><b>About this film</b></h2>
        <ul>
          <li><h3>Category :{{filmsModel.category}}</h3></li>
          <li><h3> Place where the move is played {{filmsModel.state}}</h3></li>
          <li><h3>Year where is publiced: {{filmsModel.releayseYear}}</h3></li>
        </ul>
      </section>
      <section class="listing-apply">
        <h2 class="section-heading"><b>Short description about this movie</b></h2>
         <h3>{{filmsModel.description}}</h3>
      </section>
    </article>
    <div class="button">
    <button class="btn btn-primary" (click)="goToHome()">Cancel</button>
  </div>
  </div>
  </div>