  <div class="body">
      <div class="nav">
        <div>
          <h3  class="new_recipe"><a routerLink="/add">Add Film</a></h3> 
        </div>
        <div>
          <input type="text" placeholder="Search..." class="searchInput" #filter>
          <button type="button" (click)="filterName(filter.value)"><i class="fas fa-search" style="font-size: 15px;"></i></button>
        </div>
        <ul class="type_films">
          <li class="item_films" (click)="filterByCategory('Drama')"><h4>Drama</h4></li>
          <li class="item_films" (click)="filterByCategory('Action')"><h4>Action</h4></li>
          <li class="item_films" (click)="filterByCategory('Comedy')"><h4>Comedy</h4></li>
          <li class="item_films" (click)="filterByCategory('Horror')"><h4>Horror</h4></li>
          <li class="item_films" (click)="filterByCategory('Science')"><h4>Science</h4></li>
          <li class="item_films" (click)="filterByCategory('Fantasy')"><h4>Fantasy</h4></li>
        </ul>
      </div>
    <section class="film-list">
        <app-films-item *ngFor="let film of filmlist" [film_item]="film" ></app-films-item>
    </section>
  </div>